Les variables et types de variables

In [ ]:
print('hello world')
print('Bonjour')

hello world
Bonjour

In [ ]:
a = 10
print(f'la variable a = (a)')

la variable a = (a)

In [ ]:
# Intergrer 0, 1, 2, 3 (N) # int
variable1 = 10
print(variable1)
print(type(variable1))

# float 0.5, 1.65145
variable2 = 10.0
print(variable2)
print(type(variable2))

# string 'Anis'
variable3 = 'Olympique de Marseille'
print(variable3)
print(type(variable3))

10
<class 'int'>
10.0
<class 'float'>
Olympique de Marseille
<class 'str'>

In [ ]:
# convertir float en int
print(int(15.3)) # 15.3 est en fait float

15

In [ ]:
#Boolean True. False, 1,0
print(1 == 0) # égalité
print(1 < 0)
print(1 > 0)
print(1 != 0) # different
print(1 <= 0)
print(1 >= 0)

print(bool(1), bool(0), bool(2), bool(3))

False
False
True
True
False
True
True False True True

In [ ]:
#Tuple (1,0) # se met entre parenthèse ()
variable4 = (1, 0)
print(variable4)
print(type(variable4))

#list [1, 0, 'OM','PSG', 'OL']

variables5 = [1, 0, 'OM','PSG', 'OL']
print(variables5)
print(type(variables5))

#Dict {'p': 'Pomme'} Dictionaire({clé:Valeur}) alors que lis(indice:'valeurs')

variables6 = {'P':['Profil', 'Papa', 'Peloton', 'Pomme'],
             'Anis':['Eau', 'Clavier', 'Souris']}
print(variables6)
print(type(variables6))

(1, 0)
<class 'tuple'>
[1, 0, 'OM', 'PSG', 'OL']
<class 'list'>
{'P': ['Profil', 'Papa', 'Peloton', 'Pomme'], 'Anis': ['Eau', 'Clavier', 'Souris']}
<class 'dict'>

Les structures de contrôle

In [ ]:
# if else / elif permet de mettre desconditions if condition: print(variable1000)
variable1000 = "PSG"

if variable1000 == 'PSG':
  print("c'est le PSG")
elif variable1000 == "Olympique de Marseille" :
  print("c'est l'OM")
else:
    print("ce n'est ni l'OM ni le PSG")

c'est le PSG

In [ ]:
# Les Boucles c'est for <variable> in >list>

for i in [0,1,2,3]:
  print(i)
  print(variable1000)

for i in range(10): # print uniquement jusqu'à 9
  print(i)

0
PSG
1
PSG
2
PSG
3
PSG
0
1
2
3
4
5
6
7
8
9

In [ ]:
# tant que la condition n'est pas resolue on boucle / respecter indentation
i=0
while(i!=10):
  print(i)
  i = i+1

0
1
2
3
4
5
6
7
8
9

Les fonctions

In [ ]:
# Fonction def Nom_Fonction(Argument) Argument 0 les variables qui vont être utilisées ds la Fonction

#les variables vivent qu'à l'interieur de la fonction
def mean(number1, number2):
  mean_of_two_numbers = (number1 + number2) / 2
  return mean_of_two_numbers

  #print()

print(mean(10,20))
print(mean(15,20))
print(mean(15,204))

15.0
17.5
109.5